﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="About.aspx.cs" Inherits="About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h3>Sklep .</h3>
    <p>Opis sklepu blablaBLABLALBALBLASLOBLAasdasd@#!!@#%^$%^;</p>
</asp:Content>
